* {
   box-sizing: border-box;
    font-size: 1rem;
}

body,
html {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: Arial;
   background-color: #FAFAFA;
    overflow-x: hidden;
}

.loggingPanel {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: beige;
   flex-direction: column;
   margin: 10vh auto;
   width: 30%;
   padding: 3%;
   height: 60vh;
   border-radius: 5px;
}

.loggingForm {
   width: 100%;
}

.adminPasswordInput {
   margin-bottom: 10px;
   padding: 10px;
   width: 100%;
}

.passwordText {
   text-align: left;
   font-size: 0.9rem;
}

.loggingHeader {
   font-size: 1.75rem;
}

.loggingForm:nth-child(2) {
   text-align: right;
}

.adminLoggingButton {
   width: 45%;
   align-self: center;
   margin-top: 10px;
   padding: 7.5px;
   background-color: beige;
   color: #244999;
   border: 1.8px solid #244999;
   font-size: 1rem;
   border-radius: 5px;
}

.adminLoggingButton:hover {
    cursor: pointer;
}

.prompt {
   text-align: center;
   padding: 10px;
   font-weight: 700;
}

.fail {
   color: #d8000c;
   background-color: #ffd2d2;
}

.success {
   color: #4f8a10;
   background-color: #dff2bf;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.footer > a {
   text-decoration: none;
   color: #bdbdbd;
}

.footer {
   padding: 20px;
   text-align: center;
   color: #bdbdbd;
   font-size: 1.25rem;
}

li {
    list-style-type: none;
}

.mainMenu {
   width: 100vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   margin-bottom: 5vh;
   min-height: 200px;
    flex-wrap: wrap;
}

.mainMenu li ul li {
    display: none;
}

.mainMenu li {
    display: block;
}

.mainMenu li:hover ul li {
    display: block;  
}

.mainMenu li:hover {
    display: block;  
}

.header {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 20px auto;
}

.addingForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #244999;
    max-width: 50%;
    margin: 10px auto;
    color: white;
}

.addingForm > div > label > span {
    display: block;
    padding: 3.5px;
}

.addingForm > div {
    margin: 15px auto;
}

#photoUploaderInput {
    display: none;
}

.photoUploaderIcon {
    padding: 15px;
    border: 2px dashed gray;
    width: 30vw;
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
    color: #bdbdbd;
}

.photoUploaderIcon:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px black;
}

.addingForm > div > label > input,
.addingForm > div > label > textarea,
.addingForm > div > label > select {
    width: 30vw;
    padding: 7.5px;
    line-height: 20px;
}

.addingForm > div > label > input:focus, 
.addingForm > div > label > textarea:focus,
.addingForm > div > label > select:focus
.photoUploaderIcon:hover {
    box-shadow: 2px 2px 2px 2px black;
}

.addingSubmitButton {
    width: 20vw;
    padding: 7.5px;
    line-height: 20px;
    margin-bottom: 5px;
    transition: all ease-in .2s;
    background-color: #ff5a00;
    border: none;
    font-weight: 600;
    text-align: center;

}

.addingSubmitButton:hover {
    cursor: pointer;
    background-color: #ff7b33;
}

.articlesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.adminArticleGrid {
    display: inline-block;
    text-align: center;
    background-color: #fbfbf0;
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: -1px -10px 36px -4px rgba(189,189,189,1);
}

.adminArticlePhoto {
    width: 300px;
    height: 150px;
    border: 1px groove gray;
    margin: 5px;
    border-radius: 5px;
}

.adminArticleLink > div {
    margin-top: 6px;
    padding: 3.5px;
    color: black;
    text-align: right;
}

.adminArticleLink {
    text-decoration: none;
    color: white;
}

.adminArticleLink:hover {
    text-decoration: underline;
}


.commentsWrapper, .commentsPreviewWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment, .commentPreview {
    width: 75%;
    padding: 15px;
    color: #fff;
    box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.34);
    color: black;
    margin: 30px 0;
}

.commentPreview > div {
    margin: 5px;
}

.commentPreviewWhereFrom > a {
    color: black;
    text-decoration: none;
}

.commentPreviewWhereFrom > a:hover{
    text-decoration: underline;
}

.commentContent > p, .commentPreviewContent > p {
    margin: 25px 0;
    text-align: justify;
}

.commentDate, .commentPreviewDate {
    text-align: right;
}

.acceptForm, 
.refuseForm {
    display: inline-block;
    margin: 15px 5px;
}

.acceptForm > input {
    color: #4f8a10;
}

.refuseForm > input {
    color: #d8000c;
}

.acceptForm > input, .refuseForm > input {
    border: 0;
    font-weight: 700;
    padding: 5px;
    border-radius: 3.5px;
    min-width: 5vw;
    font-size: 1.3rem;
}

.acceptForm > input:hover, .refuseForm > input:hover {
    cursor: pointer;
    box-shadow: 0px -3px 20px -12px rgba(0,0,0,0.34);
}

.statisticsPanel, .subpageCreatorWrapper {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 3.5px;
}

#statisticsForm {
    margin-top: 60px;
}

#startingDatePicker {
    padding: 5px;
    margin: 0 0 0 10px;
}

.statisticsTable td {
	padding: 10px;
	border: 2px solid #244999;
    transition: all ease-in 0.25s;
}


.statisticsTable tr:nth-child(1) {
	border-bottom-width: 2px;
}

.statisticsTable {
	font-size: 1.3rem;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
}

.statisticsTable .leftColumn {
	border-width: 2px 0 0 2px;
}

.statisticsTable .rightColumn {
	border-width: 2px 2px 0 2px;
}

.statisticsTable > tbody > tr:last-child > td {
	border-bottom-width: 2px;
}

.returnButtonAfterExit {
    display: block;
    color: black;
    margin: 10px auto;
    font-size: 2rem;
    text-align: center;
}


@media only screen and (max-width: 600px) {
   .loggingPanel {
      width: 70vw;
   }
   .loggingHeader {
      font-size: 1.3rem;
   }
   .footer {
      font-size: 1rem;
   }
    
    .addingForm {
       max-width: 100%;
    }
    
    .addingForm > div > label > input,
    .addingForm > div > label > textarea,
    .addingForm > div > label > select {
        width: 80vw;
    }
}

@media only screen and (max-width: 1000px) {
   .loggingPanel {
      width: 40vw;
   }
   .loggingHeader {
      font-size: 1.4rem;
   }
   .footer {
      font-size: 1rem;
   }
    
    .addingForm {
       max-width: 80%;
    }
    
    .addingForm > div > label > input,
    .addingForm > div > label > textarea,
    .addingForm > div > label > select {
        width: 60vw;
    }

}

@media only screen and (max-width: 1300px) {
   .loggingPanel {
      width: 30vw;
   }
   .loggingHeader {
      font-size: 1.3rem;
   }
   .footer {
      font-size: 1.2rem;
   }
    
    .addingForm {
       max-width: 70%;
    }
    
    .addingForm > div > label > input,
    .addingForm > div > label > textarea,
    .addingForm > div > label > select {
        width: 50vw;
    }
    
}

@media only screen and (max-width: 1600px) {
   .loggingPanel {
      width: 25vw;
   }
   .loggingHeader {
      font-size: 1.7rem;
   }
   .footer {
      font-size: 1.2rem;
   }
   .prompt {
      font-size: 1.5rem;
   }
   .adminPasswordInput {
      margin-bottom: 10px;
      font-size: 1.2rem;
      width: 100%;
   }
}

@media only screen and (min-width: 1920px) {
   .loggingPanel {
      width: 25vw;
   }
   .loggingHeader {
      font-size: 2rem;
   }
   .footer {
      font-size: 1.4rem;
   }
   .prompt {
      font-size: 1.7rem;
   }
   .adminPasswordInput {
      margin-bottom: 10px;
      font-size: 1.5rem;
      padding: 12px;
      width: 100%;
   }
   .adminLoggingButton {
      padding: 9px;
      font-size: 1.2rem;
   }
}
