:root {
    --primary: #244999;
    --primary-variant: #3f97eb;
    --secondary: #499924;
    --background: #FAFAFA;
    --text: #000;
}

* {
	box-sizing: border-box;
	font-size: 1rem;
}

body,
html {
	background-color: var(--background);
	border: 0;
	font-family: Arial;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
    min-height: 100vh;
}

.loggingPanel {
	align-items: center;
	background-color: var(--background);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 60vh;
	justify-content: space-around;
	margin: 10vh auto;
	padding: 3%;
	width: 30%;
}

.adminPasswordInput {
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

.passwordText {
	font-size: .9rem;
	text-align: left;
}

.loggingHeader {
	font-size: 1.75rem;
}

.adminLoggingButton {
	align-self: center;
	background-color: var(--background);
	border: 1.8px solid var(--primary);
	border-radius: 5px;
	color: var(--primary);
	font-size: 1rem;
	margin-top: 10px;
	padding: 7.5px;
	width: 45%;
}

.adminLoggingButton:hover {
	cursor: pointer;
}

.prompt {
	font-weight: 700;
	padding: 10px;
	text-align: center;
}

.fail {
	background-color: #ffd2d2;
	color: #d8000c;
}

.success {
	background-color: #dff2bf;
	color: #4f8a10;
}

.info {
	background-color: #BDE5F8;
	color: #00529B;
}

.footer>a {
	color: #bdbdbd;
	text-decoration: none;
    font-size: 1.25rem;
}

.footer {
	color: #bdbdbd;
	font-size: 1.25rem;
	padding: 20px;
	text-align: center;
}

li {
	list-style-type: none;
}

.mainMenu {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 5vh;
	min-height: 10vh;
	width: 100vw;
}

.header {
	font-size: 2rem;
	font-weight: 500;
	margin: 20px auto;
	text-align: center;
}

.addingForm {
	align-items: center;
	background-color: var(--primary);
	color: var(--background);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px auto;
	max-width: 50%;
}

.addingForm>div>label>span {
	display: block;
	padding: 3.5px;
}

.addingForm>div {
	margin: 15px auto;
}

.photoUploaderIcon {
	background-color: var(--background);
	border: 2px dashed var(--primary-variant);
	color: #bdbdbd;
	font-size: 2.5rem;
	padding: 15px;
	text-align: center;
	width: 30vw;
}

.photoUploaderIcon:hover {
	box-shadow: 2px 2px 2px 2px var(--text);
	cursor: pointer;
}

.addingForm>div>label>input,
.addingForm>div>label>textarea,
.addingForm>div>label>select {
	line-height: 20px;
	padding: 7.5px;
	width: 30vw;
}

.addingForm>div>label>input:focus,
.addingForm>div>label>textarea:focus,
.addingForm>div>label>select:focus .photoUploaderIcon:hover {
	box-shadow: 2px 2px 2px 2px var(--text);
}

.addingSubmitButton {
	background-color: var(--secondary);
	border: none;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 5px;
	padding: 7.5px;
	text-align: center;
	transition: all ease-in .2s;
	width: 20vw;
}

.addingSubmitButton:hover {
	background-color: var(--primary-variant);
	cursor: pointer;
}

.articlesWrapper, .subpageList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
}

.subpageList {
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20%;
    width: 80%;
}

.subpageList > a {
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary);
}

.subpageList > a:hover {
    text-decoration: underline;
}

.adminArticleGrid {
	background-color: var(--background);
	border-radius: 5px;
	box-shadow: -1px -10px 36px -4px rgba(189, 189, 189, 1);
	display: inline-block;
	margin: 25px;
	padding: 25px;
	text-align: center;
}

.adminArticlePhoto {
	border: 1px groove var(--primary-variant);
	border-radius: 5px;
	height: 150px;
	margin: 5px;
	width: 300px;
}

.adminArticleLink>div {
	color: var(--text);
	margin-top: 6px;
	padding: 3.5px;
	text-align: right;
}

.adminArticleLink {
	color: var(--background);
	text-decoration: none;
}

.commentsWrapper,
.commentsPreviewWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.comment,
.commentPreview {
	box-shadow: 0 -1px 19px -6px rgba(0, 0, 0, 0.34);  
	color: var(--text);
	margin: 30px 0;
	padding: 15px;
	width: 75%;
}

.commentPreview>div {
	margin: 5px;
}

.commentPreviewWhereFrom>a {
	color: var(--text);
	text-decoration: none;
}

.commentContent>p,
.commentPreviewContent>p {
	margin: 25px 0;
	text-align: justify;
}

.acceptForm,
.refuseForm {
	display: inline-block;
	margin: 15px 5px;
}

.acceptForm>input {
	color: #4f8a10;
}

.refuseForm>input {
	color: #d8000c;
}

.acceptForm>input,
.refuseForm>input {
	border: 0;
	border-radius: 3.5px;
	font-size: 1.3rem;
	font-weight: 700;
	min-width: 5vw;
	padding: 5px;
}

.acceptForm>input:hover,
.refuseForm>input:hover {
	box-shadow: 0 -3px 20px -12px rgba(0, 0, 0, 0.34);
	cursor: pointer;
}

.subpageCreator span,
.addingCategoryForm span,
.removingCategoryForm span,
.addingMenuOptionForm span,
.menuEditor span {
	display: block;
	margin: 5px 0;
}

.subpageCreator input[type='text'],
.addingCategoryForm input[type='text'],
.addingMenuOptionForm input[type='text'],
.addingMenuOptionForm select,
.menuEditor input:not(.button),
.settingsEditor input:not(.button),
.settingsEditor select {
	padding: 4px;
	width: 100%;
}

.subpageCreator,
.addingCategoryForm,
.removingCategoryForm,
.addingMenuOptionForm {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.button {
	background-color: var(--primary);
	border: none;
	border-radius: 5px;
	color: var(--background);
	font-size: .9rem;
	margin-top: 20px;
	padding: 7px;
	transition: all ease-in .2s;
    margin: 20px auto 0;
    display: flex;
}

.button:hover {
	box-shadow: 2px 2px 6px -2px var(--primary-variant);
	cursor: pointer;
}

.subpageCreator div label span,
.removingCategoryForm div label span,
.addingMenuOptionForm div label span,
.addingCategoryForm div label span,
.settingsEditor div label span {
	font-size: .85rem;
	margin-top: 20px;
}

.articleEditorInput {
	padding: 5px;
}

.subpageCreator {
	font-size: .85rem;
}

.statisticsPanel,
.subpageCreatorWrapper,
.addingCategoryForm,
.removingCategoryForm,
.addingMenuOptionForm,
.menuEditorWrapper,
.settingsEditor {
	border: 2px solid var(--primary-variant)   ;
	border-radius: 3.5px;
	margin: 10px auto;
	padding: 2.5vh 5vw;
	width: 40%;
    max-width: 99vw;
}

.menuEditorWrapper {
    width: 60%;
}

#statisticsForm {
	margin-top: 60px;
}

#startingDatePicker {
	margin: 0 0 0 10px;
	padding: 5px;
}

.statisticsTable td {
	border: 2px solid var(--primary-variant);
	padding: 10px;
	transition: all ease-in .25s;
}

.statisticsTable {
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	font-size: 1.3rem;
	margin: 20px auto;
	padding: 10px;
	text-align: center;
}

.statisticsTable .leftColumn {
	border-width: 2px 0 0 2px;
}

.statisticsTable .rightColumn {
	border-width: 2px 2px 0;
}

.returnButtonAfterExit {
	color: var(--text);
	display: block;
	font-size: 2rem;
	margin: 10px auto;
	text-align: center;
}

.settingsEditor {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.settingsEditor>div {
	margin-top: 15px;
}

.settingsEditor>div:last-of-type {
	display: flex;
	justify-content: center;
}

.loggingForm,
.settingsEditor textarea {
	width: 100%;
    padding: 4px;
}

.loggingForm:nth-child(2),
.commentDate,
.commentPreviewDate {
	text-align: right;
}

.mainMenu li ul li,
#photoUploaderInput{
	display: none;
}

.checkbox:hover {
    cursor: pointer;
}

.mainMenu li,
.mainMenu li:hover ul li,
.mainMenu li:hover,
.menuEditorCheckbox {
	display: block;
}

.adminArticleLink:hover,
.commentPreviewWhereFrom>a:hover {
	text-decoration: underline;
}

.statisticsTable tr:nth-child(1),
.statisticsTable>tbody>tr:last-child>td {
	border-bottom-width: 2px;
}


.menuEditorElementOrder {
    display: none;
}

#optionsWrapper {
    display: flex;
    flex-direction: column;
}

#optionsWrapper > div {
    padding:  20px;
    margin: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

#optionsWrapper > div > label {
    margin: 0 10px;
}

.menuEditorCheckbox {
    display: none;
}

.checkbox {
    width: 34px;
    height: 34px;
    background: none;
    border: 1.5px solid black;
    border-radius: 3.5px;
    opacity: 0.5;
    margin: 5px auto !important;
}

.authenticationWrapper {
    border: 2px solid var(--primary-variant);
	border-radius: 3.5px;
	margin: 5vh auto;
	padding: 2.5vh 2vw;
	width: 40%;
    max-width: 99vw;
}

.authenticationDescription {
    line-height: 1.235;
    text-align: justify;
}

.authenticationForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items:stretch;
}

.authenticationForm > div > label {
    display: block;
    margin: 0px auto;
}

.authenticationForm > div > label > span {
	display: block;
	margin: 8px 0 5px;

}

.authenticationForm input[type=text]{
    line-height: 20px;
	padding: 7.5px;
	width: 100%;
}


#optionsWrapper > div > label > .menuEditorCheckbox:checked + .checkbox::before {
}

.checkbox:hover {
    opacity: 1;
}

#optionsWrapper > div > label > .menuEditorCheckbox:checked + .checkbox {
    background-image: url("https://img.icons8.com/fluent/32/000000/delete-sign.png");
    opacity: 1;
}

.selectedSortableElement {
    background-color: var(--primary-variant);
}


.handle {
    max-width: 34px;
    max-height: 34px;
    font-size: 2rem;
    cursor: grabbing;
    text-align: center;
    margin-top: 16px;
    margin-left: -20px;
    margin-right: 10px;
}




@media only screen and (max-width: 600px) {
	.loggingPanel {
		width: 70vw;
	}
	.loggingHeader {
		font-size: 1.3rem;
	}
	.footer {
		font-size: 1rem;
	}
	.addingForm {
		max-width: 100%;
	}
	.addingForm>div>label>input,
	.addingForm>div>label>textarea,
	.addingForm>div>label>select,
	.addingForm>div>label>select:focus .photoUploaderIcon:hover {
		width: 80vw;
	}
}

@media only screen and (max-width: 1000px) {
	.loggingPanel {
		width: 40vw;
	}
	.loggingHeader {
		font-size: 1.4rem;
	}
	.footer {
		font-size: 1rem;
	}
	.addingForm {
		max-width: 80%;
	}
	.addingForm>div>label>input,
	.addingForm>div>label>textarea,
	.addingForm>div>label>select {
		width: 60vw;
	}
}

@media only screen and (max-width: 1300px) {
	.loggingPanel {
		width: 30vw;
	}
	.loggingHeader {
		font-size: 1.3rem;
	}
	.footer {
		font-size: 1.2rem;
	}
	.addingForm {
		max-width: 70%;
	}
	.addingForm>div>label>input,
	.addingForm>div>label>textarea,
	.addingForm>div>label>select {
		width: 50vw;
	}
}

@media only screen and (max-width: 1600px) {
	.loggingPanel {
		width: 25vw;
	}
	.loggingHeader {
		font-size: 1.7rem;
	}
	.footer {
		font-size: 1.2rem;
	}
	.prompt {
		font-size: 1.5rem;
	}
	.adminPasswordInput {
		font-size: 1.2rem;
		margin-bottom: 10px;
		width: 100%;
	}
}

@media only screen and (min-width: 1920px) {
	.loggingPanel {
		width: 25vw;
	}
	.loggingHeader {
		font-size: 2rem;
	}
	.footer {
		font-size: 1.4rem;
	}
	.prompt {
		font-size: 1.7rem;
	}
	.adminPasswordInput {
		font-size: 1.5rem;
		margin-bottom: 10px;
		padding: 12px;
		width: 100%;
	}
	.adminLoggingButton {
		font-size: 1.2rem;
		padding: 9px;
	}
}